{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": {
          "version": "3.6"
        }
      }
    ]
  ],
  "plugins": ["add-module-exports"],
  "env": {
    "production": {
      "presets": ["minify"],
      "plugins": [
        "@babel/plugin-transform-runtime",
        "inline-svg"
      ]
    }
  }
}
