# Dependencies
/node_modules

# Test coveragement
.nyc_output
/coverage

# npm package lock
/package-lock.json

# Bash scripts
/scripts

# Project related files
/src
/etc
.eslintrc
.babelrc
.gitignore
/src/**/*.test.js
.vscode
/dist
/scripts
.editorconfig
.travis.yml
